---
layout: default
title: Server List - VFTF
description: Vanilla Fortress Server List
script: /assets/js/copy_ip.js
---

<script type="application/javascript">
  // please do not ask why this is here instead of in a script file
  // i simply ctrl+c ctrl+v'd this from battlemetrics
  
  window.addEventListener('message',function(e) {
  if(e.data.uid && e.data.type === 'sizeUpdate') {
    var i = document.querySelector('iframe[name="'+e.data.uid+'"]');
    i.style.width = e.data.payload.width;
    i.style.height = e.data.payload.height;
  }
  });
</script>

<div>
  <div class="mid-align">
    <h1>Servers</h1>

    <p>This page will be updated from time to time.</p>
    </p>
  </div>

  <div class="server-grid">

    <div class="eu-servers">
      <h2 class="mid-align">Europe</h2>

      {% for s in site.data.servers.eu %}
        {% assign connect_url = "steam://connect/" | append: s.ip %}
        {% include server_card.html s=s connect=connect_url %}
      {% endfor %}

    </div>

    <div class="na-servers">
      <h2 class="mid-align">North America</h2>

      {% for s in site.data.servers.na %}
        {% assign connect_url = "steam://connect/" | append: s.ip %}
        {% include server_card.html s=s connect=connect_url %}
      {% endfor %}

    </div>
  </div>

</div>