---
layout: default
title: Server List - VFTF
description: Vanilla Fortress Server List
script: /js/copy_ip.js
---

<script type="application/javascript">
  window.addEventListener('message',function(e) {
  if(e.data.uid && e.data.type === 'sizeUpdate') {
    var i = document.querySelector('iframe[name="'+e.data.uid+'"]');
    i.style.width = e.data.payload.width;
    i.style.height = e.data.payload.height;
  }
  });
</script>

<div>
  <div class="mid-align">
    <h1>Servers</h1>

    <p>This page will be updated from time to time.</p>
    <p class="ps">You can find Zesty Jesus's servers
      <a href="https://zestyjesus.com/servers">here!</a>
    </p>
  </div>

  <div class="server-grid">

    <div class="eu-servers">
      <h2 class="mid-align">Europe</h2>

      {% for s in site.data.servers.eu %}
        <div class="server">
          <h3>{{ s.name }}</h3>

          <iframe
            src="https://cdn.battlemetrics.com/b/horizontal500x80px/{{ s.id }}.html?foreground=%23{{ site.data.colors.foreground }}&background=%23{{ site.data.colors.background }}&lines=%23{{ site.data.colors.lines }}&linkColor=%23{{ site.data.colors.linkColor }}&chartColor=%23{{ site.data.colors.chartColor }}"
            frameborder="0"
            style="border:0"
            name="{{ s.id }}"></iframe>

          <div class="links">
            <a href="steam://connect/{{ s.ip }}">Connect to Server</a>
            <a
              href="#"
              class="copy-ip"
              data-copy="{{ s.ip }}">Copy IP</a>

            {% if s.steam %}
              <a href="{{ s.steam }}">Steam Group</a>
            {% endif %}
            {% if s.discord %}
              <a href="{{ s.discord }}">Discord Server</a>
            {% endif %}
            {% if s.website %}
              <a href="{{ s.website }}">Website</a>
            {% endif %}

          </div>

        </div>
      {% endfor %}
    </div>

    <div class="na-servers">
      <h2 class="mid-align">North America</h2>

      {% for s in site.data.servers.na %}
        <div class="server">
          <h3>{{ s.name }}</h3>

          <iframe
            src="https://cdn.battlemetrics.com/b/horizontal500x80px/{{ s.id }}.html?foreground=%23{{ site.data.colors.foreground }}&background=%23{{ site.data.colors.background }}&lines=%23{{ site.data.colors.lines }}&linkColor=%23{{ site.data.colors.linkColor }}&chartColor=%23{{ site.data.colors.chartColor }}"
            frameborder="0"
            style="border:0"
            name="{{ s.id }}"></iframe>

          <div class="links">
            <a href="{{ s.connect }}">Connect to Server</a>
            {% if s.steam %}
              <a href="{{ s.steam }}">Steam Group</a>
            {% endif %}
            {% if s.discord %}
              <a href="{{ s.discord }}">Discord Server</a>
            {% endif %}
            {% if s.website %}
              <a href="{{ s.website }}">Website</a>
            {% endif %}
          </div>

        </div>
      {% endfor %}
    </div>
  </div>

</div>