<footer>

  <div class="mid-align">
    <p class="attribution">
      Website made by
      <a href="{{ site.data.socials.spark }}">_Spark</a>
      and
      <a href="{{ site.data.socials.rocks }}">Rocks</a>
      with help from people in the VFTF Discord.
    </p>

    <div class="link-icons">
      <a href="{{ site.data.socials.discord }}">
        <img src="/assets/images/icons/discord.svg">
      </a>

      <a href="{{ site.data.socials.steam }}">
        <img src="/assets/images/icons/steam.svg">
      </a>

      <a href="{{ site.data.socials.repo }}">
        <img src="/assets/images/icons/github.svg">
      </a>

    </div>

    <div class="legal-notice">
      <p>Vanilla Fortress is not in any way affiliated with Valve Corp. or the TF Team.</p>
      <p>Team Fortress 2 and all related content are property of Valve Corporation.
      </p>
    </div>

  </div>

</footer>